body{
    background-color: peachpuff;
}
/****************************TAG SELECTOR******************************++*/
h1 {
    font-size: 100px;
    color: red;
}

img:hover {
    background-color: gold;
}
/****************************CLASS SELECTOR******************************++*/
.Bacon {
    background-color: #66f160;
}

.Broccoli {
    background-color: #f15c11;
}

.circular {
    border-radius: 100%;
}
/****************************ID SELECTOR******************************++*/
#title {
    color: blue;
}
